.main {
}
.card-row {
  display: flex;
  justify-content: center;
  align-items: stretch;
  height: 120px;
}

.card {
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 12%;
  margin: 3px;
  cursor: pointer;
}

.card-back {
  background-color: #f5de3075;
}

.card-front {
  background-color: cyan;
}

.card-back span {
  display: none;
}

.card-front span {
  display: inline;
}

.card-front img {
  display: none;
}
