@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@media (max-width: 62em) {
  html {
    font-size: 62.5%;
  }
}
@media (max-width: 48em) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 31em) {
  html {
    font-size: 40%;
  }
}

body {
  background-color: #f7c1b9;
  font-family: Lato, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 100vh;
}

.title {
  font-size: 5rem;
  font-weight: 400;
  text-align: center;
}
.card-row {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.main {
  display: flex;
  justify-content: center;
}

.board {
  width: 52.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.card {
  height: 12rem;
  width: 12rem;
  margin: 0.2rem 0.2rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
  background-color: #f8f5e2;
}

.card .content {
  width: 8.4rem;
  pointer-events: none;
}

.card.disabled {
  pointer-events: none;
}

.card-back {
  background-color: #f8f5e2;
  background-image: url(../images/card-bg.jpg);
  background-size: cover;
  background-position: 0 -4.2rem;
}

.card-keep,
.card-on {
  background-image: none;
}
.card-back .content {
  visibility: hidden;
}

.card-on .content,
.card-keep .content {
  visibility: visible;
}

.footer {
  margin: 0 auto;
  padding: 4rem 0 1rem;
}

.footer p {
  font-size: 1.6rem;
  text-align: center;
  color: #5f6c7b;
  margin: 0;
}

.footer a {
  text-decoration-line: underline;
  color: #3da9fc;
}

.overlay {
  display: none;
  position: absolute;
  background: rgba(255, 255, 255, 0.65);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
}

.overlay.show {
  display: flex;
}

.modal {
  display: none;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background: #ffffff;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
  width: 60em;
}

.modal-header {
  margin-top: 0;
  margin-bottom: 3rem;
  font-weight: 600;
  font-size: 4rem;
  line-height: 4.8rem;
}

.modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.modal-content {
  margin: 0 auto 3rem;
  font-weight: normal;
  font-size: 2.6rem;
  line-height: 3.1rem;
}

.modal-themes {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: 3rem;
}

.theme.chosen .card,
.theme:hover .card {
  border: 0.4rem solid #335c67;
  box-sizing: border-box;
}

.card-title {
  font-size: 2rem;
  line-height: 2.4rem;
  text-align: center;
  margin: 1.1rem auto 0;
}

.modal-button {
  background: #335c67;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
  border: none;
  padding: 1rem 4rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 2rem;
  line-height: 2.4rem;
  margin-bottom: 3rem;
}

.show .modal {
  display: flex;
}
