.card-row {
  display: flex;
  justify-content: center;
  align-items: stretch;
  height: 120px;
}

.board {
  display: flex;
  flex-wrap: wrap;
}

.card {
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 12%;
  margin: 3px;
  cursor: pointer;
  flex: 1 1 280px;
  height: 100px;
}

.card.disabled {
  pointer-events: none;
}

.card-back {
  background-color: #f5de3075;
}

.card-on {
  background-color: cyan;
}

.card-back .content {
  display: none;
}

.card-on .content {
  display: inline;
}
